@import '../../assets/custom';

ul.category-details {
    list-style-type: none;
    font-size: $font-size-xs;
    font-weight: 300;
    line-height: 1.2;
    margin: $card-deck-margin;
    padding: 0;
    min-width: 200px;

}

li.category-name {
    text-transform: uppercase;
    font-size: $font-size-lg;
    font-weight: 300;
    color: $brand-primary;
    margin-bottom: $card-deck-margin / 2;
}