<div class="navigation">
  <input type="checkbox" id="navbar_collapse" role="button" (click)="controlVisibility"/>
  <label for="navbar_collapse" id="collapse_button" class="" ></label>
  <ul id="menu" class="">
    <li><a class="" href="login" tabindex="2">Solicita un servicio</a></li>
    <li><a class="" href="login" tabindex="2">Ofrece un servicio</a></li>
    <li class="narrow"><a href="https://www.facebook.com/CampusOcioVerdeElPuerto/" target="_blank" tabindex="7"><i class="fa fa-user-circle-o fa-2x"></i></a></li>      
  </ul>
</div>
  